p{
    background-color: wheat;
text-align: center;
text-emphasis-color:pink;
color:chocolate
 width 200px;
 height: 30px;


}
#color{

    background-color: aqua;
}
.xyz{
color:red;
background-color: skyblue;


}